<div class="imaage">
	<ul class="slider">
		<li>
			<img src="epic.jpg" />
		</li>
		<li>
			<img src="death.jpg" />
		</li>
		<li>
			<img src="jthj.jpg" />
		</li>
		<li>
			<img src="tinker.jpg" />
		</li>
		<li>
			<img src="ironman.jpg" />
		</li>
	</ul>
</div>
<div class="poster">
	<img src="movie1.jpg" />
</div>
<div class="poster">
	<img src="movie2.jpg" />
</div>
<div class="poster">
	<img src="movie3.jpg" />
</div>
<div class="poster">
	<img src="movie4.jpg" />
</div>
