// Place all the styles related to the Rents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#rent_borrowDate_1i{
  width: 100px;
}
#rent_borrowDate_2i{
  width: 100px;
}
#rent_borrowDate_3i{
  width: 100px;
}